*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:Poppins;
}

body{
  background:#fff;
}

/* Navbar */
nav{
  background:#111;
  color:white;
  display:flex;
  justify-content:space-between;
  padding:15px 30px;
}

nav a{
  color:white;
  margin-left:20px;
  text-decoration:none;
}

/* Hero */
.hero{
  height:90vh;
  background:linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),
  url('https://images.unsplash.com/photo-1604908177522-4025c03c0c37');
  background-size:cover;
  display:flex;
  align-items:center;
  justify-content:center;
  color:white;
  text-align:center;
}

.hero h2{
  font-size:40px;
}

.btn{
  background:red;
  color:white;
  padding:10px 20px;
  border:none;
  margin-top:10px;
  cursor:pointer;
  border-radius:5px;
}

/* Menu */
.menu{
  padding:50px;
  text-align:center;
}

.cards{
  display:flex;
  gap:30px;
  justify-content:center;
  flex-wrap:wrap;
}

.card{
  background:#f4f4f4;
  padding:20px;
  width:250px;
  border-radius:10px;
  box-shadow:0 5px 10px rgba(0,0,0,0.1);
  transition:0.3s;
}

.card:hover{
  transform:scale(1.05);
}

.card img{
  width:100%;
  border-radius:10px;
}

/* About */
.about{
  background:#111;
  color:white;
  padding:40px;
  text-align:center;
}

/* Contact */
.contact{
  padding:40px;
  text-align:center;
}

footer{
  background:#111;
  color:white;
  padding:10px;
  text-align:center;
}
